// Place all the styles related to the globals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bronchiolite{
     font-family: Arial,sans-serif;
     font-size: 70%;
     width: 15%;
     height: 35%;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #000;
     background: #1f8dd6;
     border-radius:10px;
}

#grippe{
    font-family: Arial,sans-serif;
     font-size: 70%;
     width: 15%;
     height: 35%;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #000;
     background: #1f8dd6;
     border-radius:10px;
}

#gastro{
    font-family: Arial,sans-serif;
     font-size: 70%;
     width: 15%;
     height: 35%;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #000;
     background: #1f8dd6;
     border-radius:10px;
}